body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}

footer .copyright,
footer .image-link {
    font-size: 14px;
    color: #333;
    text-align: center;
}

footer .copyright a,
footer .image-link {
    color: #444;
}

footer .copyright a:hover {
    color: #555;
}

footer .copyright:before {
    content: '©';
}

footer .image-link {
    width: 60vw;
    padding: 2.5px 0;
    background: radial-gradient(circle, #555, #444, #333, #17181c);
}

footer .image-link:hover {
    color: #555;
    background: radial-gradient(circle, #555, #555, #444 , #17181c);
    cursor: pointer;
}

.image-link img {
    height: 50px;
}
